<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- To enable a Java project to work with SWT there is a container -->
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%classContainerPageName"
            class="org.eclipse.ve.internal.swt.SWTContainerWizardPage"
            id="SWT_CONTAINER">
      </classpathContainerPage>
   </extension>
<!-- There is also an initializer to resolve the wizard entry into an actual SWTContainer -->
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.ve.internal.swt.SWTContainerInitializer"
            id="SWT_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jem.proxy.contributors">
      <contributor
            plugin="org.eclipse.swt"
            class="org.eclipse.ve.internal.swt.SWTConfigurationContributor">
      </contributor>
      <!-- If the plugin org.eclipse.jface is in the build path enable the contributor which adds the correct target VM jars -->  
      <contributor
            plugin="org.eclipse.jface"
            class="org.eclipse.ve.internal.jface.JFaceConfigurationContributor">
      </contributor>
   </extension>
   
   <extension
         point="org.eclipse.jem.proxy.extensions">
      <registration
            class="org.eclipse.jem.internal.proxy.remote.swt.SWTREMProxyRegistration"
            container="SWT_CONTAINER"
            plugin="org.eclipse.swt"
            registryType="org.eclipse.jem.REMOTE">
      </registration>
      <registration
            class="org.eclipse.jem.internal.proxy.ide.swt.SWTIDEProxyRegistration"
            container="SWT_CONTAINER"
            plugin="org.eclipse.swt"
            registryType="org.eclipse.jem.IDE"/>
   </extension>   

   <extension point="org.eclipse.core.runtime.preferences">
     <initializer class="org.eclipse.ve.internal.swt.SWTPreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.jem.beaninfo.registrations">
      <registration
            container="SWT_CONTAINER"
            plugin="org.eclipse.swt">
         <beaninfo
               path="vm/swtbeaninfo.jar">
            <searchpath
                  package="org.eclipse.swt.widgets.beaninfo">
            </searchpath>
         </beaninfo>
         <override
               package="org.eclipse.swt.widgets"
               path="overrides/org/eclipse/swt/widgets">
         </override>
         <override
               package="org.eclipse.swt.graphics"
               path="overrides/org/eclipse/swt/graphics">
         </override>
         <override
               package="org.eclipse.swt.layout"
               path="overrides/org/eclipse/swt/layout">
         </override>
         <override
               package="org.eclipse.swt.browser"
               path="overrides/org/eclipse/swt/browser">
         </override>
         <override
               package="org.eclipse.swt.custom"
               path="overrides/org/eclipse/swt/custom">
         </override>
      </registration>
      <!-- Register the override folders for Workbench-->
      <registration 
            plugin="org.eclipse.ui.workbench">
         <override
               package="org.eclipse.ui.part"
               path="overrides/org/eclipse/ui/part">
         </override>  
      </registration>           
      <!-- Register the override folders for JFace -->
      <registration
            container="SWT_CONTAINER/JFACE"
            plugin="org.eclipse.jface">
         <override
               package="org.eclipse.jface.viewers"
               path="overrides/org/eclipse/jface/viewers">
         </override>               
      </registration>
      <!-- Register the override folders for Eclipse forms -->
      <registration 
            plugin="org.eclipse.ui.forms">
	     <beaninfo
               path="vm/formsbeaninfo.jar">
            <searchpath
                  package="org.eclipse.ui.forms.widgets.beaninfo">
            </searchpath>
         </beaninfo>            
         <override
               package="org.eclipse.ui.forms.widgets"
               path="overrides/org/eclipse/ui/forms/widgets">
         </override>  
      </registration>       
   </extension>
   <extension
         point="org.eclipse.ve.java.core.contributors">
      <palette
            container="SWT_CONTAINER"
            categories="palette/swtpalette.xmi"
            plugin="org.eclipse.swt">
      </palette>
   </extension>
   
 <!-- removed forms and jface palette drawers - 11.09.05 paw
   <extension
         point="org.eclipse.ve.java.core.contributors">
      <palette
            categories="forms/palette.xmi"
            plugin="org.eclipse.ui.forms">
      </palette>
   </extension>   
   
   <extension
         point="org.eclipse.ve.java.core.contributors">
      <palette
            categories="jface/palette.xmi"
            container="SWT_CONTAINER/JFACE"
            plugin="org.eclipse.jface">
      </palette>
   </extension>    
 -->
   
   <extension point="org.eclipse.ve.cde.editpartcontributor"> 
     <contributor class="org.eclipse.ve.internal.jface.TreeViewerEditPartContributorFactory">
         <filter
           name="BEANTYPE"
           value="org.eclipse.swt.widgets.Tree">
         </filter>             
         <filter
           name="BEANTYPEPRESENT"
           value="org.eclipse.jface.viewers.TreeViewer">
         </filter>     
      </contributor>   
     <contributor class="org.eclipse.ve.internal.jface.TableViewerEditPartContributorFactory">
         <filter
           name="BEANTYPE"
           value="org.eclipse.swt.widgets.Table">
         </filter>             
         <filter
           name="BEANTYPEPRESENT"
           value="org.eclipse.jface.viewers.TableViewer">
         </filter>          
      </contributor>   
     <contributor class="org.eclipse.ve.internal.jface.ComboViewerEditPartContributorFactory">
         <filter
           name="BEANTYPE"
           value="org.eclipse.swt.widgets.Combo">
         </filter>             
         <filter
           name="BEANTYPEPRESENT"
           value="org.eclipse.jface.viewers.ComboViewer">
         </filter>                   
      </contributor>   
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
	 <!--
         Switch Tabs on a TabFolder
      -->
      <objectContribution
            objectClass="org.eclipse.ve.internal.swt.TabFolderGraphicalEditPart"
            id="org.eclipse.ve.java.editorpart.tabfolder.action.popup.object">
         <action
               label="%PopupMenus.SwitchToAction.Label Switch to"
               style="pulldown"
               class="org.eclipse.ve.internal.swt.TabFolderSwitchToObjectActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.ve.java.editorpart.tabfolder.switchto">
         </action>
      </objectContribution>
      	 <!--
         Switch Tabs on a CTabFolder
      -->
      <objectContribution
            objectClass="org.eclipse.ve.internal.swt.CTabFolderGraphicalEditPart"
            id="org.eclipse.ve.java.editorpart.ctabfolder.action.popup.object">
         <action
               label="%PopupMenus.SwitchToAction.Label Switch to"
               style="pulldown"
               class="org.eclipse.ve.internal.swt.CTabFolderSwitchToObjectActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.ve.java.editorpart.ctabfolder.switchto">
         </action>
      </objectContribution>
     <!-- 
	 	Set layout option on swt composites
	 -->      
      <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.java.editorpart.composite.setlayout.popup.object">
         <filter
               name="BEANTYPE"
               value="org.eclipse.swt.widgets.Composite">
         </filter>            
         <action
               label="Set Layout"
               style="pulldown"
               class="org.eclipse.ve.internal.java.core.SetLayoutObjectActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.ve.java.editorpart.composite.setlayout">
         </action>
      </objectContribution>      
     <!-- 
	 	Set Text option on swt controls
	 -->
     <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.internal.swt.editorpart.settextaction.popup.object">
         <filter
               name="BEANTYPE"
               value="org.eclipse.swt.widgets.Widget">
         </filter>
         <filter
               name="PROPERTY"
               value="text">
         </filter>
         <action
               label="%PopupMenus.SetTextAction.Label  Set Text"
               class="org.eclipse.ve.internal.swt.SetTextObjectActionDelegate"
               id="org.eclipse.ve.internal.swt.settextaction">
           <enablement>
              <objectState
                    name="CHANGEABLE"
                    value="true"/>
           </enablement>                              
         </action>
      </objectContribution>
   	 <!-- 
	 	Snap to Grid
	 -->
      <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.internal.swt.snaptogridaction.popup.object">
         <filter
               name="BEANTYPE"
               value="org.eclipse.swt.widgets.Composite">
         </filter>
         <filter
               name="EDITPOLICY#snaptogrid"
               value="false">
         </filter>
         <action
               label="%PopupMenus.SnapToGridAction.Label  Snap To Grid"
               class="org.eclipse.ve.internal.cde.core.SnapToGridObjectActionDelegate"
               id="org.eclipse.ve.internal.swt.snaptogridaction">
         </action>
      </objectContribution>
   	 <!-- 
	 	Change Parent on a Shell widget
	 -->
     <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.internal.swt.changeparentaction.popup.object">
         <visibility>
            <objectState
                  name="BEANTYPE"
                  value="org.eclipse.swt.widgets.Shell">
            </objectState>
         </visibility>
         <action
               label="%PopupMenus.ChangeParentAction.Label  Change Parent..."
               class="org.eclipse.ve.internal.swt.ChangeParentShellObjectActionDelegate"
               id="org.eclipse.ve.internal.swt.changeparentaction">
           <enablement>
              <objectState
                    name="CHANGEABLE"
                    value="true"/>
           </enablement>                              
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.internal.rcp.codegen.rootcontainer.popup.object">
         <visibility>
         	<or>
	            <objectState
	                  name="BEANTYPE"
	                  value="org.eclipse.ui.part.WorkbenchPart">
	            </objectState>
            	<and>
		            <objectState
		                  name="PARENT#BEANTYPE"
		                  value="org.eclipse.ui.part.WorkbenchPart">
		            </objectState>
		            <objectState
		                  name="BEANTYPE"
		                  value="org.eclipse.swt.widgets.Composite">
		            </objectState>
            	</and>
	        </or>
         </visibility>
         <action
               label="%PopupMenus.RootContainer.Label &amp;Create container"
               class="org.eclipse.ve.internal.rcp.codegen.WorkbenchPartRootContainerObjectActionDelegate"
               id="org.eclipse.ve.internal.rcp.codegen.rootcontainer.action">
           <enablement>
              <objectState
                    name="CHANGEABLE"
                    value="true"/>
           </enablement>                              
         </action>
      </objectContribution>
   </extension> 

<!-- Contribute to the ChooseBean dialog to allow dropping of SWT widgets -->
   
  <extension
         point="org.eclipse.ve.java.core.choosebean">
      <contributor container="SWT_CONTAINER" plugin="org.eclipse.swt"
            class="org.eclipse.ve.internal.swt.SWTChooseBeanContributor">
      </contributor>
   </extension>

<!-- Contribute to the New Visual wizard to populate the Style tree -->

  <extension
 		point="org.eclipse.ve.java.core.newStyleComponent">
		<category
			name="%NewStyleComponent.SWT"
			id="org.eclipse.ve.swt.cat"
			priority="100"
			defaultExpand="false">
		</category>
			<visualElement
				 pluginId="org.eclipse.swt"
		         container="SWT_CONTAINER"
	    	     type="java.lang.Object"
	        	 icon="icons/full/clcl16/shell_obj.gif"
		         category="org.eclipse.ve.swt.cat"
	    	     contributor="org.eclipse.ve.internal.swt.codegen.wizards.contributors.ShellSourceContributor"
	        	 name="%NewStyleComponent.Shell">
			</visualElement>
			<visualElement
				 pluginId="org.eclipse.swt"
		         container="SWT_CONTAINER"
		         type="org.eclipse.swt.widgets.Composite"
		         icon="icons/full/clcl16/composite_obj.gif"
		         category="org.eclipse.ve.swt.cat"
		         contributor="org.eclipse.ve.internal.swt.codegen.wizards.contributors.CompositeSourceContributor"
		         name="%NewStyleComponent.Composite">
			</visualElement>
  </extension>   
  
  <extension
      point="org.eclipse.ui.newWizards">
    <!-- Add a SWT category to the new wizard Other... Java selection -->
      <category
            name="%NewStyleComponent.SWT"
            parentCategory="org.eclipse.jdt.ui.java"
            id="org.eclipse.ve.internal.java.core.swt">
      </category>
      <wizard
            name="%Visual.Class.Shell.Name"
            icon="icons/full/clcl16/shell_obj.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.swt"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:java.lang.Object"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.Shell">
         <description>
            %Visual.Class.Shell.Desc
         </description>
      </wizard>
      <wizard
            name="%Visual.Class.Composite.Name"
            icon="icons/full/clcl16/composite_obj.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.swt"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:org.eclipse.swt.widgets.Composite"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.Composite">
         <description>
            %Visual.Class.Composite.Desc
         </description>
      </wizard>
    <!-- Add a SWT category to the new wizard Other... Java selection -->
      <category
            name="%NewStyleComponent.RCP"
            parentCategory="org.eclipse.jdt.ui.java"
            id="org.eclipse.ve.internal.java.core.rcp">
      </category>
      <wizard
            name="%Visual.Class.Editor.Name"
            icon="icons/full/clcl16/rcp_editor.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.rcp"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:org.eclipse.ui.part.EditorPart"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.Editor">
         <description>
            %Visual.Class.Editor.Desc
         </description>
      </wizard>
      <wizard
            name="%Visual.Class.View.Name"
            icon="icons/full/clcl16/rcp_app.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.rcp"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:org.eclipse.ui.part.ViewPart"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.View">
         <description>
            %Visual.Class.View.Desc
         </description>
      </wizard>
    <!-- Add an SWT Examples category to the new wizard -->
      <category
            name="%Example.SWT"
            parentCategory="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples"
            id="org.eclipse.ve.swt.SWTExample">
      </category>
      <wizard
            name="Simple SWT Browser"
            icon="icons/full/clcl16/browser_obj.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples/org.eclipse.ve.swt.SWTExample"
            id="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard.SimpleSWTBrowser">
         <class class="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard">
         	<parameter name="exampleFile" value="SimpleSWTBrowser"/>
         	<parameter name="classpathContainerPlugin" value="org.eclipse.swt"/>
         	<parameter name="classpathContainerName" value="SWT_CONTAINER"/>
         </class>
         <description>
            %Example.SimpleSWTBrowser.Desc
         </description>
      </wizard>
      <wizard
            name="Simple Text Editor"
            icon="icons/full/clcl16/textarea_obj.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples/org.eclipse.ve.swt.SWTExample"
            id="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard.SimpleSWTTextEditor">
         <class class="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard">
         	<parameter name="exampleFile" value="SimpleSWTTextEditor"/>
         	<parameter name="classpathContainerPlugin" value="org.eclipse.swt"/>
         	<parameter name="classpathContainerName" value="SWT_CONTAINER"/>
         </class>
         <description>
            %Example.SimpleSWTTextEditor.Desc
         </description>
      </wizard>
   </extension>
  <extension
        id="buildpath"
        name="%buildpath"
        point="org.eclipse.core.resources.markers">
     <super type="org.eclipse.core.resources.problemmarker"/>
  </extension>
  
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%SWT.preferenceName SWT"
            category="org.eclipse.ve.internal.java.vce.VCEPreferencePage"
            class="org.eclipse.ve.internal.swt.SWTPreferencePage"
            id="org.eclipse.ve.internal.swt.SWTPreferencePage">
      </page>
   </extension>  
    
<!-- RCP ViewPart is a new style on the Create Visual Class Wizard -->  
  
   <extension
 		point="org.eclipse.ve.java.core.newStyleComponent">
   <category
         defaultExpand="true"
         id="org.eclipse.ve.rcp.cat"
         name="%NewStyleComponent.RCP"
         priority="50"/>
   <visualElement
         category="org.eclipse.ve.rcp.cat"
         contributor="org.eclipse.ve.internal.rcp.codegen.wizards.contributors.RCPViewClassCreationSourceContributor"
         icon="icons/full/clcl16/rcp_app.gif"
         name="%NewStyleComponent.View"
         type="org.eclipse.ui.part.ViewPart"/>
   <visualElement
         category="org.eclipse.ve.rcp.cat"
         contributor="org.eclipse.ve.internal.rcp.codegen.wizards.contributors.RCPEditorClassCreationSourceContributor"
         icon="icons/full/clcl16/rcp_editor.gif"
         name="%NewStyleComponent.Editor"
         type="org.eclipse.ui.part.EditorPart"/>
  </extension>   

</plugin>
