<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.ve.swt"
   name="%pluginName"
   version="1.0.0"
   provider-name="%providerName"
   class="org.eclipse.ve.internal.swt.SwtPlugin">

   <runtime>
      <library name="ve_swt.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ve.internal.swt,org.eclipse.jem.internal"/>
      </library>
      <library name="swtcodegen.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.ve.internal.swt.codegen"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ve.java.core"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.ve.cde"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ve.propertysheet"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.jem.proxy"/>
      <import plugin="org.eclipse.jem.beaninfo"/>
      <import plugin="org.eclipse.jem"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="com.ibm.wtp.common.util"/>
   </requires>


<!-- To enable a Java project to work with SWT there is a container -->
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%classContainerPageName"
            class="org.eclipse.ve.internal.swt.SWTContainerWizardPage"
            id="org.eclipse.ve.internal.swt.swtcontainerwizardpage">
      </classpathContainerPage>
   </extension>
<!-- There is also an initializer to resolve the wizard entry into an actual SWTContainer -->
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.ve.internal.swt.SWTContainerInitializer"
            id="SWT_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.ve.java.core.registrations">
      <library
            container="SWT_CONTAINER"
            palettecats="platform:/plugin/org.eclipse.ve.swt/swtpalette.xmi">
      </library>
   </extension>
   <extension
         point="org.eclipse.jem.beaninfo.overrides">
      <override
            package="org.eclipse.swt.widgets"
            path="platform:/plugin/org.eclipse.ve.swt/overrides/org/eclipse/swt/widgets">
      </override>
      <override
            package="org.eclipse.swt.graphics"
            path="platform:/plugin/org.eclipse.ve.swt/overrides/org/eclipse/swt/graphics">
      </override>
      <override
            package="org.eclipse.swt.layout"
            path="platform:/plugin/org.eclipse.ve.swt/overrides/org/eclipse/swt/layout">
      </override>
   </extension>

  <extension
         point="org.eclipse.jem.proxy.contributor">
      <contributor
            plugin="org.eclipse.swt"
            class="org.eclipse.ve.internal.swt.SWTConfigurationContributor">
      </contributor>
   </extension>
   
  <extension point="org.eclipse.jem.beaninfo.registrations">
      <container path="SWT_CONTAINER">
         <beaninfos>
            <beaninfo
                  kind="plugin"
                  path="/org.eclipse.ve.swt/vm/swtbeaninfo.jar">
               <searchpath
                     package="org.eclipse.swt.widgets.beaninfo">
               </searchpath>
            </beaninfo>
         </beaninfos>
      </container>
   </extension>      

</plugin>
