<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.ve.examples"
   name="%pluginName"
   version="1.1.0.1"
   provider-name="%providerName"
   class="">

   <runtime>
      <library name="dept.jar">
         <export name="*"/>
      </library>
      <library name="javaexamples.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ve.java.core"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jem"/>
      <import plugin="org.eclipse.jem.proxy"/>
      <import plugin="org.eclipse.ve.cde"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.ve.propertysheet"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.jem.beaninfo"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            name="%dinnerPlanner"
            extensions="dinner"
            icon="images/graph.gif"
            class="org.eclipse.ve.examples.cdm.dept.dinner.ui.DinnerGraphicalEditorPart"
            contributorClass="org.eclipse.ve.internal.cde.core.ActionBarContributor"
            id="Dinner Planner">
      </editor>
      <editor
            default="true"
            name="%companyEditor"
            extensions="cdmcmp"
            icon="images/graph.gif"
            class="org.eclipse.ve.examples.cdm.dept.ui.CompanyGraphicalEditorPart"
            contributorClass="org.eclipse.ve.internal.cde.core.ActionBarContributor"
            id="Company Editor">
      </editor>
   </extension>
<!-- NOTE: For now, we need to make sure that there is in the classpath the following external jars
       pointed to be the variable JBCF_EXAMPLE. We are using the ClasspathVariableInitializer to do this.
       However, this will only do it once for a workspace. The better way would be to use a ContainerIntializer
       and this would be in that one container. That is because containers will be initialized
       for each session. A future Eclipse may allow Variables to be initialized for each session, so then a
       variable may still be the best way if there is only one file to copy.
       Can't use containers because they don't yet work in conjunction with Beaninfo/JBCF contributors.
       
       JBCF_EXAMPLE/jbcfexamplebeans.jar
   -->
<!-- For now we don't have an non-jve editor available.
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%javaExampleEditor"
            default="true"
            icon="icons\window16.gif"
            extensions="java_example"
            contributorClass="org.eclipse.ve.cde.ActionBarContributor"
            class="org.eclipse.ve.examples.java.JavaGraphicalEditorPart"
            id="Java Example">
      </editor>
   </extension>
-->

   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%visualExamples"
            class="org.eclipse.ve.internal.java.wizard.RegisteredClasspathContainerWizardPage"
            id="org.eclipse.ve.examples.JavaExample">
      </classpathContainerPage>
   </extension>

   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.ve.internal.java.core.RegisteredClasspathContainerInitializer"
            id="org.eclipse.ve.examples.JavaExample">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.ve.java.core.registrations">
      <registration
            container="org.eclipse.ve.examples.JavaExample"
            description="%visualExamples">
         <library
               runtime="vm/javaexamplebeans.jar"
               source="vm/javaexamplebeanssrc.zip">
         </library>
      </registration>
   </extension>
   <extension
         point="org.eclipse.ve.java.core.contributors">
      <palette
            container="org.eclipse.ve.examples.JavaExample"
            categories="examplecats.xmi">
      </palette>
   </extension>
   <extension
         point="org.eclipse.jem.beaninfo.registrations">
      <registration
            container="org.eclipse.ve.examples.JavaExample">
         <beaninfo
               path="/org.eclipse.ve.examples/vm/javaexamplebeaninfo.jar">
            <searchpath
                  package="org.eclipse.ve.examples.java.beaninfo">
            </searchpath>
         </beaninfo>
         <override
               package="org.eclipse.ve.examples.java.vm"
               path="overrides/org/eclipse/ve/examples/java/vm">
         </override>
      </registration>
   </extension>   
      
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="%wizzoWidgets"
            class="org.eclipse.ve.internal.java.wizard.RegisteredClasspathContainerWizardPage"
            id="org.eclipse.ve.examples.WizzoWidgets">
      </classpathContainerPage>
   </extension>

   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.ve.internal.java.core.RegisteredClasspathContainerInitializer"
            id="org.eclipse.ve.examples.WizzoWidgets">
      </classpathContainerInitializer>
   </extension>
      
   <extension
         point="org.eclipse.ve.java.core.registrations">
      <registration
            container="org.eclipse.ve.examples.WizzoWidgets"
            description="%wizzoWidgets">
         <library
            runtime="vm/wizzowidgets.jar"
            prefix="src"
            source="src/wizzowidgets_src.zip">
         </library>
      </registration>
   </extension>
   <extension
         point="org.eclipse.ve.java.core.contributors">
      <palette
            container="org.eclipse.ve.examples.WizzoWidgets"
            categories="wizzopalette.xmi">
      </palette>
   </extension>

   <extension
         point="org.eclipse.jem.beaninfo.registrations">      
      <registration
            container="org.eclipse.ve.examples.WizzoWidgets">
         <beaninfo
               path="vm/wizzowidgets_dt.jar">
            <searchpath
                  package="com.abc.wizzowidgets.beaninfo">
            </searchpath>
         </beaninfo>
      </registration>
   </extension>

</plugin>
