#URL to eclipse download page for build to use
eclipseFolder=I20060208-0848
eclipseBuildID=eclipse-SDK-I20060208-0848

eclipseDirectURL=http://download.eclipse.org/downloads/drops/
eclipseMirrorURL=http://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/drops/
#Complete URL to download actual zip directly, and not use mirror.
eclipseLinuxGTKZipURL=${eclipseFolder}/${eclipseBuildID}-linux-gtk.tar.gz
eclipseWin32ZipURL=${eclipseFolder}/${eclipseBuildID}-win32.zip

#URL to GEF download page for build to use
gefBuildID=3.2M4
gefFolder=S-3.2M4-200512231410

gefDirectURL=http://download.eclipse.org/tools/gef/downloads/drops/
gefMirrorURL=http://www.eclipse.org/downloads/download.php?file=/tools/gef/downloads/drops/

#Complete URL to download actual zip.
gefZipURL=${gefFolder}/GEF-runtime-${gefBuildID}.zip

#URL to EMF download page
emfBuildID=I200602020000
emfFolder=2.2.0/I200602020000
emfDirectURL=http://download.eclipse.org/tools/emf/downloads/drops/
emfMirrorURL=http://www.eclipse.org/downloads/download.php?file=/tools/emf/downloads/drops/

#Complete URL to download actual zip.
emfZipURL=${emfFolder}/emf-sdo-runtime-${emfBuildID}.zip
