<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension point="org.eclipse.jem.beaninfo.registrations">
      <registration plugin="com.ibm.jve.sample">
         <override
               package="com.ibm.jve.sample.core"
               path="overrides/com/ibm/jve/sample/core">
         </override>
      </registration>
    </extension>
    
    <extension point="org.eclipse.jem.proxy.contributors">
      <contributor
        plugin="com.ibm.jve.sample"
        class="com.ibm.jve.sample/com.ibm.jve.sample.internal.UISampleConfigurationContributor">
      </contributor>
    </extension>  
    
    <extension point="org.eclipse.ve.java.core.contributors">
      <palette
        categories="samplepalette.xmi"
        plugin="com.ibm.jve.sample">
      </palette>
   </extension>    

</plugin>
