<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.ibm.jve.sample"
   name="Sample Plug-in"
   version="1.0.0"
   provider-name="IBM"
   class="com.ibm.jve.sample.SamplePlugin">

   <runtime>
      <library name="sample.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ve.swt"/>
      <import plugin="org.eclipse.ve.java.core"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.emf.common"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ve.cde"/>
      <import plugin="org.eclipse.gef"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.ve.propertysheet"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.jem.proxy"/>
      <import plugin="org.eclipse.jem.beaninfo"/>
      <import plugin="org.eclipse.jem"/>
      <import plugin="org.eclipse.jem.workbench"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jem.util"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.pde.core"/>  
   </requires>
   
    <extension point="org.eclipse.jem.beaninfo.registrations">
      <registration plugin="com.ibm.jve.sample">
         <override
               package="com.ibm.jve.sample.core"
               path="overrides/com/ibm/jve/sample/core">
         </override>
      </registration>
    </extension>
    
    <extension point="org.eclipse.jem.proxy.contributors">
      <contributor
        plugin="com.ibm.jve.sample"
        class="com.ibm.jve.sample/com.ibm.jve.sample.internal.UISampleConfigurationContributor">
      </contributor>
    </extension>  
    
    <extension point="org.eclipse.ve.java.core.contributors">
      <palette
        categories="samplepalette.xmi"
        plugin="com.ibm.jve.sample">
      </palette>
   </extension>    

</plugin>
