<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="Custom Prompter"
            class="org.eclipse.ve.internal.java.wizard.RegisteredClasspathContainerWizardPage"
            id="org.eclipse.ve.tutorial1.CustomPrompter">
      </classpathContainerPage>
   </extension>  
   
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.eclipse.ve.internal.java.core.RegisteredClasspathContainerInitializer"
            id="org.eclipse.ve.tutorial1.CustomPrompter">
      </classpathContainerInitializer>
   </extension>   
   
  <extension
         point="org.eclipse.ve.java.core.registrations">
      <registration
            container="org.eclipse.ve.tutorial1.CustomPrompter"
            description="Custom Prompter">
         <library runtime="customwidgets.jar"/>
      </registration>
   </extension> 
   
   <extension
         point="org.eclipse.ve.java.core.contributors">
      <palette
            container="org.eclipse.ve.tutorial1.CustomPrompter"
            categories="customprompter.xmi"/>
   </extension>   

   <extension
         point="org.eclipse.jem.beaninfo.registrations">
      <registration
            container="org.eclipse.ve.tutorial1.CustomPrompter">
         <override
               package="org.eclipse.ve.example.customwidget.prompter"
               path="overrides/org/eclipse/ve/example/customwidget/prompter">
         </override>
      </registration>     
    </extension>
</plugin>
