#URL to eclipse download page for build to use
eclipseFolder=S-3.2RC3-200605051306
eclipseBuildID=eclipse-SDK-3.2RC3

eclipseDirectURL=http://fullmoon.torolab.ibm.com/downloads/drops/
eclipseMirrorURL=http://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/drops/
#Complete URL to download actual zip directly, and not use mirror.
eclipseLinuxGTKZipURL=${eclipseFolder}/${eclipseBuildID}-linux-gtk.tar.gz
eclipseWin32ZipURL=${eclipseFolder}/${eclipseBuildID}-win32.zip

#URL to GEF download page for build to use
gefBuildID=3.2RC2a
gefFolder=S-3.2RC2a-200605041058

gefDirectURL=http://download.eclipse.org/tools/gef/downloads/drops/
gefMirrorURL=http://www.eclipse.org/downloads/download.php?file=/tools/gef/downloads/drops/

#Complete URL to download actual zip.
gefZipURL=${gefFolder}/GEF-runtime-${gefBuildID}.zip

#URL to EMF download page
emfBuildID=2.2.0RC3
emfFolder=2.2.0/S200605081806
emfDirectURL=http://fullmoon.torolab.ibm.com/tools/emf/downloads/drops/
emfMirrorURL=http://www.eclipse.org/downloads/download.php?file=/tools/emf/downloads/drops/

#Complete URL to download actual zip.
emfZipURL=${emfFolder}/emf-sdo-runtime-${emfBuildID}.zip
