<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="../../../default_style.css" type="text/css">
<title>Eclipse Tools Project</title>
</head>
<body>
&nbsp; 



<table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
  <tr> 
    <td ALIGN=LEFT width="80%"> 
      <p><b><font face="Verdana" size="+3">@type@ Build: @build@</font></b><br>
        @date@ </p>
      <p>These downloads are provided under the <a href="http://www.eclipse.org/legal/notice.html">Eclipse.org 
        Software User Agreement</a>.</p>
      <p>To view the build notes for this build click <a href="buildNotes.php">here</a>.<br>
        To view the test results and compile logs for this build click <a href="testResults.php">here</a>.<BR></td>
  </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td align=LEFT valign=TOP colspan="3" bgcolor="#0080C0"><b><font face="Arial,Helvetica" color="#FFFFFF">Requirements</font></b></td>
  </tr>
</table>
<ul>
  <li>Eclipse build <a href="@eclipseURL@/index.php">@eclipseBuildID@</a> (<A
		href="@eclipseZipURL@">zip</A>)</li>
	<LI>EMF build <A href="@emfURL@">@emfBuildID@</A> (<A
		href="@emfZipURL@">zip</A>)</LI>
	<LI>GEF Build <A href="@gefURL@">@gefBuildID@</A> (<A
		href="@gefZipURL@">zip</A>)</LI>
</ul> 
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td align=LEFT valign=TOP colspan="3" bgcolor="#0080C0"><b><font face="Arial,Helvetica" color="#FFFFFF"> 
      Visual Editor Runtime </font></b></td>
  </tr>
</table>
<table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="34%"><b>Platform</b></td>
    <td width="59%"><b>Download</b></td>
    %runtime% </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
        
    <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font face="Arial,Helvetica" color="#FFFFFF">SDK</font></b></td>
      </tr>
    </table>
    <table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="34%"><b>Platform</b></td>
    <td width="59%"><b>Download</b></td>
 %sdk%
  </tr>
 </table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>

<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font face="Arial,Helvetica" color="#FFFFFF">Examples </font></b></td>
  </tr>
</table>
<table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="34%"><b>Platform</b></td>
    <td width="59%"><b>Download</b></td>
    %examples% </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td align=LEFT valign=TOP colspan="3" bgcolor="#999999"><b><font face="Arial,Helvetica" color="#FFFFFF">JUnit Plugin Tests and Automated Testing Framework</font></b></td>
  </tr>
</table>
<table border=0 cellspacing=2 cellpadding=0 width="100%" bordercolor="#999999" >
  <tr> 
    <td align=RIGHT valign=TOP width="7%"> 
      <div align="left"><b>Status</b></div>
    </td>
    <td width="34%"><b>Platform</b></td>
    <td width="59%"><b>Download</b></td>
    %tests% </tr>
</table>
<table border=0 cellspacing=5 cellpadding=2 width="100%" >
  <tr> 
    <td colspan="2">&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
