<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!--
    This extension point allows customization of adapter to use for IPropertyDescriptor to be specified by
    the decorator type on the structural feature. The process will be:
    1) If there is a PropertyDescriptorInformation decorator, that takes priority.
    2) A test will be made for each of the typeClass from the extension point, on the first "isInstance" test
       that is sucessful, the adapter class specified will be used. It is assumed that none of these
       typeClass decorators that are in the extension point inherit from each other. This is because the isInstance
       test would pick up the first one found, and the order in the list is indeterminate. It will use standard
       extension point class instance creation of the adapter class, e.g. it may have initialization parms.
    3) If none found, then it will use DecoratedPropertyDescriptorAdapter.
	<extension point="org.eclipse.ve.cde.adapter" >
	   <adapter typeclass="org.eclipse.ve.internal.cde.decorators.PropertyDescriptorDecorator" adapterclass="org.eclipse.ve.internal.cde.core.property.DecoratatedPropertyDescriptorAdapter">"/>
	</extension>
-->
   <extension-point id="adapter" name="Descriptor Adapter by Decorator Type"/>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/ve/internal/cdm.ecore"
            class="org.eclipse.ve.internal.cdm.CDMPackage">
      </package>
      <package
            uri="http:///org/eclipse/ve/internal/cde/decorators.ecore"
            class="org.eclipse.ve.internal.cde.decorators.DecoratorsPackage">
      </package>
      <package
            uri="http:///org/eclipse/ve/internal/cde/palette.ecore"
            class="org.eclipse.ve.internal.cde.palette.PalettePackage">
      </package>
      <package
            uri="http:///org/eclipse/ve/internal/cde/utility.ecore"
            class="org.eclipse.ve.internal.cde.utility.UtilityPackage">
      </package>
   </extension>

</plugin>
