<!DOCTYPE html PUBLIC "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
  <meta content="text/html; charset=iso-8859-1"
 http-equiv="Content-Type">
  <link type="text/css" href="http://dev.eclipse.org/default_style.css"
 rel="stylesheet">
  <title>Visual Editor Project - Download</title>
</head>
<body>
&nbsp;
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td width="80%" align="left">
      <p><b><font size="+3" face="Verdana">@type@ Build: @build@</font></b><br>
@date@ </p>
      <p>These downloads are provided under the <a
 href="http://www.eclipse.org/legal/epl/notice.html">Eclipse Foundation Software User Agreement</a>.</p>
      <p>To view the build notes for this build click <a
 href="buildNotes.php">here</a>.<br>
To view the test results and compile logs for this build click <a
 href="testResults.php">here</a>.<br>
To view the map file entries for this build click
click <a href="directory.txt">here</a>.<br>
      </p>
      </td>
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td bgcolor="#0080c0" colspan="3" valign="top" align="left">
      <h1><b><font color="#ffffff" face="Arial,Helvetica">Requirements
- PLEASE READ THIS SECTION FIRST<br>
      </font></b></h1>
      </td>
    </tr>
  </tbody>
</table>
<p>These are the prerequisites to install the Visual Editor. They must
be downloaded and installed before the Visual Editor can be installed.
Since these are now releases, compatible updates in the future may be downloaded.
</p>
<p><span style="color: blue;"><b><u>Note:</u>
<ul>
<li>JRE must be version 1.4.2 or greater for BeanInfo of SWT to work correctly.</li>
</ul></b></span>
</p><br>
<table>
  <tbody>
    <tr>
      <td>Eclipse build @eclipseBuildID@:</td>
      <td>(<a href="@eclipseIndexURL@">build page</a>) (<a
 href="@eclipseMirrorURL@@eclipseWin32ZipURL@">download win32 zip</a>)</td>
    </tr>
    <tr>
      <td>EMF build @emfBuildID@:</td>
      <td>(<a href="@emfIndexURL@">build page</a>) (<a href="@emfMirrorURL@@emfZipURL@">download
zip</a>)</td>
    </tr>
    <tr>
      <td>GEF Build @gefBuildID@:</td>
      <td>(<a href="@gefIndexURL@">build page</a>) (<a
 href="@gefMirrorURL@@gefZipURL@">download zip</a>)</td>
    </tr>
  </tbody>
</table>
<br>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td bgcolor="#0080c0" colspan="3" valign="top" align="left"><b><font
 color="#ffffff" face="Arial,Helvetica"> Visual Editor Runtime </font></b></td>
    </tr>
    <tr>
      <td colspan="3" valign="top" align="left">This download is the
normal Visual Editor installation. It contains only the runtime files.
There is no source or developer files. It is to be used for the normal
customer installation of the Visual Editor.</td>
    </tr>
  </tbody>
</table>

<table bordercolor="#999999" width="100%" cellpadding="0"
 cellspacing="2" border="0">
  <tbody>
    <tr>
      <td width="7%" valign="top" align="right">
      <div align="left"><b>Status</b></div>
      </td>
      <td width="34%"><b>Platform</b></td>
      <td width="59%"><b>Download</b></td>
      %runtime%
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td bgcolor="#999999" colspan="3" valign="top" align="left"><b><font
 color="#ffffff" face="Arial,Helvetica">SDK</font></b></td>
    </tr>
    <tr>
      <td colspan="3" valign="top" align="left">This download is the
developer's SDK. It contains source and documentation for developers
that want to extend the Visual Editor.</td>
    </tr>
  </tbody>
</table>

<table bordercolor="#999999" width="100%" cellpadding="0"
 cellspacing="2" border="0">
  <tbody>
    <tr>
      <td width="7%" valign="top" align="right">
      <div align="left"><b>Status</b></div>
      </td>
      <td width="34%"><b>Platform</b></td>
      <td width="59%"><b>Download</b></td>
       %sdk%
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td bgcolor="#999999" colspan="3" valign="top" align="left"><b><font
 color="#ffffff" face="Arial,Helvetica">Examples </font></b></td>
    </tr>
    <tr>
      <td colspan="3" valign="top" align="left">This download contains
the examples for the Visual Editor. It includes source. (At this time
they aren't useful).</td>
    </tr>
  </tbody>
</table>

<table bordercolor="#999999" width="100%" cellpadding="0"
 cellspacing="2" border="0">
  <tbody>
    <tr>
      <td width="7%" valign="top" align="right">
      <div align="left"><b>Status</b></div>
      </td>
      <td width="34%"><b>Platform</b></td>
      <td width="59%"><b>Download</b></td>
      %examples%
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td bgcolor="#999999" colspan="3" valign="top" align="left"><b><font
 color="#ffffff" face="Arial,Helvetica">JUnit Plugin Tests and
Automated Testing Framework</font></b></td>
    </tr>
    <tr>
      <td colspan="3" valign="top" align="left">This download contains
the JUnit tests for testing the Visual Editor. It would be used by
developers of the Visual Editor project itself.</td>
    </tr>
  </tbody>
</table>

<table bordercolor="#999999" width="100%" cellpadding="0"
 cellspacing="2" border="0">
  <tbody>
    <tr>
      <td width="7%" valign="top" align="right">
      <div align="left"><b>Status</b></div>
      </td>
      <td width="34%"><b>Platform</b></td>
      <td width="59%"><b>Download</b></td>
      %tests%
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td bgcolor="#0080c0" colspan="3" valign="top" align="left"><b><font
 color="#ffffff" face="Arial,Helvetica"> Java EMF Model Runtime </font></b></td>
    </tr>
    <tr>
      <td colspan="3" valign="top" align="left">This download is for the Java EMF Model installation. It is here
for other projects that only need the JEM runtime and not the entire VE runtime. VE users should use
the VE runtime or VE SDK instead. The VE runtime and VE SDK already include JEM within their downloads.
This download contains only the runtime files. There is no source or developer files. It is to be used for the normal
customer installation of the JEM EMF Model for those who need only the JEM component.</td>
    </tr>
  </tbody>
</table>

<table bordercolor="#999999" width="100%" cellpadding="0"
 cellspacing="2" border="0">
  <tbody>
    <tr>
      <td width="7%" valign="top" align="right">
      <div align="left"><b>Status</b></div>
      </td>
      <td width="34%"><b>Platform</b></td>
      <td width="59%"><b>Download</b></td>
      %runtimeJEM%
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td bgcolor="#999999" colspan="3" valign="top" align="left"><b><font
 color="#ffffff" face="Arial,Helvetica">Java EMF Model SDK</font></b></td>
    </tr>
    <tr>
      <td colspan="3" valign="top" align="left">This download is for the Java EMF Model
developer's SDK. It contains source and documentation for developers
that want to extend the JEM component. VE users should use
the VE SDK instead. The VE SDK already includes JEM within its download.</td>
    </tr>
  </tbody>
</table>

<table bordercolor="#999999" width="100%" cellpadding="0"
 cellspacing="2" border="0">
  <tbody>
    <tr>
      <td width="7%" valign="top" align="right">
      <div align="left"><b>Status</b></div>
      </td>
      <td width="34%"><b>Platform</b></td>
      <td width="59%"><b>Download</b></td>
       %sdkJEM%
    </tr>
  </tbody>
</table>
<table width="100%" cellpadding="2" cellspacing="5" border="0">
  <tbody>
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>
  </tbody>
</table>

<p>&nbsp;</p>
</body>
</html>
