<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- ======================================================================== -->
<!-- Extend the popup menu on Edit parts                                      -->
<!-- ======================================================================== -->
   <extension
         point="org.eclipse.ui.popupMenus">
<!-- For object contributions that are to be added to the popup menu
	 in both the graph viewer and beans viewer, use the following object class:
	 
		objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor">

	The following object contribution is the "Set text" action which popups
	in the graph viewer and beans viewer on components that have a 'text' property.
	You must specify an action delegate to handle the the defined action, in this
	case class="org.eclipse.ve.internal.jfc.core.SetTextObjectActionDelegate".

	It has a filtering mechanism in which the workbench looks for a filter and
	if a filter is found the workbench will pass each name value pair to the filter
	to determine if it matches the state of the selected object.  If so, the action 
	will be added to the context menu for the object (see org.eclipse.ui.IActionFilter).
	In this case a JVE action filter, org.eclipse.ve.internal.jfc.core.JavaBeanActionFilter
	was implemented to provide general capability for AWT/Swing beans which use either
	ComponentGraphicalEditPart or ComponentTreeEditPart.
		
	To add menu items for a specific class that inherits from java.awt.Component,
	just add object contributions that specify:
		- objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor">
		- a filter with a name/value pair that declares:
			- name="BEANTYPE"
			- the target class name (i.e. javax.swing.JPanel)
	-->
      <objectContribution
            objectClass="org.eclipse.ve.internal.jfc.core.JTabbedPaneGraphicalEditPart"
            id="org.eclipse.ve.java.editorpart.jtabbedpane.action.popup.object">
         <action
               label="%PopupMenus.SwitchToAction.Label Switch to"
               style="pulldown"
               class="org.eclipse.ve.internal.jfc.core.JTabbedPaneSwitchToObjectActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.ve.java.editorpart.jtabbedpane.switchto">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.internal.jfc.core.editorpart.settextaction.popup.object">
         <filter
               name="BEANTYPE"
               value="java.awt.Component">
         </filter>
         <filter
               name="PROPERTY"
               value="text">
         </filter>
         <action
               label="%PopupMenus.SetTextAction.Label  Set Text"
               class="org.eclipse.ve.internal.jfc.core.SetTextObjectActionDelegate"
               id="org.eclipse.ve.internal.jfc.core.settextaction">
           <enablement>
              <objectState
                    name="CHANGEABLE"
                    value="true"/>
           </enablement>               
         </action>
      </objectContribution>
<!-- Add a popup to edit the label property -->
      <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.internal.jfc.core.editorpart.setlabelaction.popup.object">
         <filter
               name="BEANTYPE"
               value="java.awt.Component">
         </filter>
         <filter
               name="PROPERTY"
               value="label">
         </filter>
         <action
               label="%PopupMenus.SetLabelAction.Label  Set Label"
               class="org.eclipse.ve.internal.jfc.core.SetLabelObjectActionDelegate"
               id="org.eclipse.ve.internal.jfc.core.setlabelaction">
           <enablement>
              <objectState
                    name="CHANGEABLE"
                    value="true"/>
           </enablement>                              
         </action>
      </objectContribution>
<!-- Add a popup to edit the title property -->
      <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.internal.jfc.core.editorpart.settitleaction.popup.object">
         <filter
               name="BEANTYPE"
               value="java.awt.Component">
         </filter>
         <filter
               name="PROPERTY"
               value="title">
         </filter>
         <action
               label="%PopupMenus.SetTitleAction.Label  Set Title"
               class="org.eclipse.ve.internal.jfc.core.SetTitleObjectActionDelegate"
               id="org.eclipse.ve.internal.jfc.core.settitleaction">
           <enablement>
              <objectState
                    name="CHANGEABLE"
                    value="true"/>
           </enablement>                              
         </action>
      </objectContribution>
     <!-- 
	 	Set layout option on Panel and JPanel.  Cannot do on java.awt.Container because too many "non containers"
	 	inherit from this, including all of Swing's components so better to be explicit about who we want the ability
	 	to set layouts onto
	 -->      
      <objectContribution
            objectClass="org.eclipse.ve.internal.jfc.core.ContainerGraphicalEditPart"
            id="org.eclipse.ve.java.editorpart.container.setlayout.popup.object"> 
         <action
               label="Set Layout"
               style="pulldown"
               class="org.eclipse.ve.internal.java.core.SetLayoutObjectActionDelegate"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.ve.java.editorpart.container.setlayout">
         </action>
      </objectContribution>            
<!-- 
	 Edit policy constribution example
	 Show and Hide grid on null layout policy
	 paw - 5/25/05 - show/hide removed. only show grid when dropping/moving/resize or when prefs
	                 is set to show grid when container is selected.
      <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.internal.jfc.core.showgridaction.popup.object">
         <filter
               name="BEANTYPE"
               value="java.awt.Container">
         </filter>
         <filter
               name="EDITPOLICY#showgrid"
               value="false">
         </filter>
         <action
               label="%PopupMenus.ShowGridAction.Label  Show Grid"
               class="org.eclipse.ve.internal.cde.core.ShowGridObjectActionDelegate"
               id="org.eclipse.ve.internal.jfc.core.showgridaction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.internal.jfc.core.hidegridaction.popup.object">
         <filter
               name="BEANTYPE"
               value="java.awt.Container">
         </filter>
         <filter
               name="EDITPOLICY#showgrid"
               value="true">
         </filter>
         <action
               label="%PopupMenus.HideGridAction.Label  Hide Grid"
               class="org.eclipse.ve.internal.cde.core.ShowGridObjectActionDelegate"
               id="org.eclipse.ve.internal.jfc.core.hidegridaction">
         </action>
      </objectContribution>
	-->
   	 <!-- 
	 	Snap to Grid - only available on the Graph view
	 -->
      <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanGraphicalContextMenuContributor"
            id="org.eclipse.ve.internal.jfc.snaptogridaction.popup.object">
         <filter
               name="BEANTYPE"
               value="java.awt.Container">
         </filter>
         <filter
               name="EDITPOLICY#snaptogrid"
               value="false">
         </filter>
         <action
               label="%PopupMenus.SnapToGridAction.Label  Snap To Grid"
               class="org.eclipse.ve.internal.cde.core.SnapToGridObjectActionDelegate"
               id="org.eclipse.ve.internal.jfc.snaptogridaction">
         </action>
      </objectContribution>

<!-- Add Create Content Pane action for RootPaneContainers. -->
      <objectContribution
            objectClass="org.eclipse.ve.internal.java.core.IJavaBeanContextMenuContributor"
            id="org.eclipse.ve.internal.jfc.core.editorpart.contentpane.popup.object">
         <visibility>
            <objectState
                  name="BEANTYPE"
                  value="javax.swing.RootPaneContainer">
            </objectState>
         </visibility>
         <action
               label="%PopupMenus.ContentPane.Label &amp;Create Content Pane"
               class="org.eclipse.ve.internal.jfc.core.CreateContentPaneObjectActionDelegate"
               id="org.eclipse.ve.internal.jfc.core.content.pane">
           <enablement>
              <objectState
                    name="CHANGEABLE"
                    value="true"/>
           </enablement>                              
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%Swing"
            parentCategory="org.eclipse.jdt.ui.java"
            id="org.eclipse.ve.internal.java.core.swing">
      </category>
      <category
            name="%AWT"
            parentCategory="org.eclipse.jdt.ui.java"
            id="org.eclipse.ve.internal.java.core.awt">
      </category>
      <wizard
            name="%Visual.Class.JFrame.Name"
            icon="icons/full/ctool16/newframe_wiz.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.swing"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:javax.swing.JFrame"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.JFrame">
         <description>
            %Visual.Class.JFrame.Desc
         </description>
      </wizard>
      <wizard
            name="%Visual.Class.JDialog.Contrib.Name"
            icon="icons/full/clcl16/dialog_obj.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.swing"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:javax.swing.JDialog"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.JDialog">
         <description>
            %Visual.Class.JDialog.Contrib.Desc
         </description>
      </wizard>
      
      <wizard
            name="%Visual.Class.JPanel.Name"
            icon="icons/full/ctool16/newpanel_wiz.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.swing"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:javax.swing.JPanel"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.JPanel">
         <description>
            %Visual.Class.JPanel.Desc
         </description>
      </wizard>
      <wizard
            name="%Visual.Class.JApplet.Name"
            icon="icons/full/ctool16/newapplet_wiz.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.swing"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:javax.swing.JApplet"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.JApplet">
         <description>
            %Visual.Class.JApplet.Desc
         </description>
      </wizard>
      <wizard
            name="%Visual.Class.Frame.Name"
            icon="icons/full/ctool16/newframe_wiz.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.awt"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:java.awt.Frame"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.Frame">
         <description>
            %Visual.Class.Frame.Desc
         </description>
      </wizard>
      <wizard
            name="%Visual.Class.Dialog.Contrib.Name"
            icon="icons/full/clcl16/dialog_obj.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.awt"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:java.awt.Dialog"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.Dialog">
         <description>
            %Visual.Class.Dialog.Contrib.Desc
         </description>
      </wizard>
      <wizard
            name="%Visual.Class.Panel.Name"
            icon="icons/full/ctool16/newpanel_wiz.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.awt"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:java.awt.Panel"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.Panel">
         <description>
            %Visual.Class.Panel.Desc
         </description>
      </wizard>
      <wizard
            name="%Visual.Class.Applet.Name"
            icon="icons/full/ctool16/newapplet_wiz.gif"
            category="org.eclipse.jdt.ui.java/org.eclipse.ve.internal.java.core.awt"
            class="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard:java.applet.Applet"
            id="org.eclipse.ve.internal.java.codegen.wizards.NewVisualClassCreationWizard.Applet">
         <description>
            %Visual.Class.Applet.Desc
         </description>
      </wizard>
      <category
            name="%AWT"
            parentCategory="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples"
            id="org.eclipse.ve.jfc.AWTExample">
      </category>
      <category
            name="%Swing"
            parentCategory="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples"
            id="org.eclipse.ve.jfc.SwingExample">
      </category>
      <wizard
            name="AWTComponents"
            icon="icons/full/ctool16/newvisualclass_wiz.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples/org.eclipse.ve.jfc.AWTExample"
            class="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard:AwtComponents"
            id="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard.AwtComponents">
         <description>
            %Example.AWTComponents.Desc
         </description>
      </wizard>
      <wizard
            name="SimpleTextEditor"
            icon="icons/full/ctool16/newvisualclass_wiz.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples/org.eclipse.ve.jfc.SwingExample"
            class="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard:SimpleTextEditor"
            id="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard.SimpleTextEditor">
         <description>
            %Example.SimpleTextEditor.Desc
         </description>
      </wizard>
      <wizard
            name="Slider Game"
            icon="icons/full/ctool16/newvisualclass_wiz.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples/org.eclipse.ve.jfc.SwingExample"
            class="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard:SliderGame"
            id="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard.SliderGame">
         <description>
            %Example.SliderGame.Desc
         </description>
      </wizard>
      <wizard
            name="ToDoList"
            icon="icons/full/ctool16/newvisualclass_wiz.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples/org.eclipse.ve.jfc.SwingExample"
            class="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard:ToDoList"
            id="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard.ToDoList">
         <description>
            %Example.ToDoList.Desc
         </description>
      </wizard>
      <wizard
            name="BasicSwingComponents"
            icon="icons/full/ctool16/newvisualclass_wiz.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples/org.eclipse.ve.jfc.SwingExample"
            class="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard:BasicSwingComponents"
            id="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard.BasicSwingComponents">
         <description>
            %Example.BasicSwingComponents.Desc
         </description>
      </wizard>
      <wizard
            name="MoreSwingComponents"
            icon="icons/full/ctool16/newvisualclass_wiz.gif"
            category="org.eclipse.ui.Examples/org.eclipse.ve.java.core.examples/org.eclipse.ve.jfc.SwingExample"
            class="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard:MoreSwingComponents"
            id="org.eclipse.ve.internal.java.codegen.wizards.VisualClassExampleWizard.MoreSwingComponents">
         <description>
            %Example.MoreSwingComponents.Desc
         </description>
      </wizard>
      -->
   </extension>
   
   <extension
         point="org.eclipse.jem.proxy.contributors">
      <contributor
            container="org.eclipse.jdt.launching.JRE_CONTAINER"
            class="org.eclipse.ve.internal.jfc.core.JFCVisualContributor">
      </contributor>
   </extension>
   <extension
         point="org.eclipse.jem.beaninfo.registrations">
      <registration
            container="org.eclipse.jdt.launching.JRE_CONTAINER">
         <beaninfo
               path="vm/jfcbeaninfo.jar">
            <searchpath
                  package="org.eclipse.ve.internal.jfc.beaninfo">
            </searchpath>
         </beaninfo>
<!-- Doing java.awt and javax.swing specifically because there are too many matches that
           we don't care about if we did just java and javax. -->
         <override
               package="java.awt"
               path="overrides/java/awt">
         </override>
         <override
               package="javax.swing"
               path="overrides/javax/swing">
         </override>
         <override
               package="java.applet"
               path="overrides/java/applet">
         </override>
         <override
               package="java.util"
               path="overrides/java/util">
         </override>
      </registration>
   </extension>
   <extension
         point="org.eclipse.ve.java.core.contributors">
      <palette
            container="org.eclipse.jdt.launching.JRE_CONTAINER"
            categories="palette/javavisualbeanscats.xmi"
            loc="last">
      </palette>
   </extension>

<!-- ======================================================================== -->
<!-- Contribute to the New Visual wizard to populate the Style tree -->
<!-- ======================================================================== -->
   <extension
		point="org.eclipse.ve.java.core.newStyleComponent">
		<category
			name="%NewStyleComponent.Swing"
			id="org.eclipse.ve.jfc.swing.cat"
			priority="200"
			defaultExpand="false">>
		</category>
			<visualElement
         type="javax.swing.JFrame"
         icon="icons/full/clcl16/frame_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.SwingApplicationSourceContributor"
         name="%NewStyleComponent.Application">
			</visualElement>
			<visualElement
         type="javax.swing.JFrame"
         icon="icons/full/clcl16/frame_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ContentPaneSourceContributor"
         name="%NewStyleComponent.Frame">
			</visualElement>
			<visualElement
         type="javax.swing.JInternalFrame"
         icon="icons/full/clcl16/internalframe_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ContentPaneSourceContributor"
         name="%NewStyleComponent.InternalFrame">
			</visualElement>
			<visualElement
         type="javax.swing.JWindow"
         icon="icons/full/clcl16/window_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.JWindowJDialogSourceContributor"
         name="%NewStyleComponent.Window">
			</visualElement>
			<visualElement
         type="javax.swing.JPanel"
         icon="icons/full/clcl16/panel_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ComponentSetSizeSourceContributor"
         name="%NewStyleComponent.Panel">
			</visualElement>
			<visualElement
         type="javax.swing.JApplet"
         icon="icons/full/clcl16/applet_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ContentPaneSourceContributor"
         name="%NewStyleComponent.Applet">
			</visualElement>
			<visualElement
         type="javax.swing.JScrollPane"
         icon="icons/full/clcl16/scrollpane_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ComponentSetSizeSourceContributor"
         name="%NewStyleComponent.ScrollPane">
			</visualElement>
			<visualElement
         type="javax.swing.JSplitPane"
         icon="icons/full/clcl16/splitpane_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ComponentSetSizeSourceContributor"
         name="%NewStyleComponent.JSplitPane">
			</visualElement>
			<visualElement
         type="javax.swing.JTabbedPane"
         icon="icons/full/clcl16/tabbedpane_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ComponentSetSizeSourceContributor"
         name="%NewStyleComponent.JTabbedPane">
			</visualElement>
			<visualElement
         type="javax.swing.JDesktopPane"
         icon="icons/full/clcl16/desktoppane_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ComponentSetSizeSourceContributor"
         name="%NewStyleComponent.JDesktopPane">
			</visualElement>
			<visualElement
         type="javax.swing.JDialog"
         icon="icons/full/clcl16/dialog_obj.gif"
         category="org.eclipse.ve.jfc.swing.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.JWindowJDialogSourceContributor"
         name="%NewStyleComponent.Dialog">
			</visualElement>
		<category
			name="%NewStyleComponent.AWT"
			id="org.eclipse.ve.jfc.awt.cat"
			priority="300"
			defaultExpand="false">>
		</category>
			<visualElement
         type="java.awt.Frame"
         icon="icons/full/clcl16/frame_obj.gif"
         category="org.eclipse.ve.jfc.awt.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ComponentSetSizeSourceContributor"
         name="%NewStyleComponent.Frame">
			</visualElement>
			<visualElement
         type="java.awt.Panel"
         icon="icons/full/clcl16/panel_obj.gif"
         category="org.eclipse.ve.jfc.awt.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ComponentSetSizeSourceContributor"
         name="%NewStyleComponent.Panel">
			</visualElement>
			<visualElement
         type="java.awt.Dialog"
         icon="icons/full/clcl16/dialog_obj.gif"
         category="org.eclipse.ve.jfc.awt.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.WindowDialogSourceContributor"
         name="%NewStyleComponent.Dialog">
			</visualElement>
			<visualElement
         type="java.awt.Window"
         icon="icons/full/clcl16/window_obj.gif"
         category="org.eclipse.ve.jfc.awt.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.WindowDialogSourceContributor"
         name="%NewStyleComponent.Window">
			</visualElement>
			<visualElement
         type="java.awt.ScrollPane"
         icon="icons/full/clcl16/scrollpane_obj.gif"
         category="org.eclipse.ve.jfc.awt.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ComponentSetSizeSourceContributor"
         name="%NewStyleComponent.ScrollPane">
			</visualElement>
			<visualElement
         type="java.applet.Applet"
         icon="icons/full/clcl16/applet_obj.gif"
         category="org.eclipse.ve.jfc.awt.cat"
         contributor="org.eclipse.ve.internal.jfc.codegen.wizards.contributors.ComponentSetSizeSourceContributor"
         name="%NewStyleComponent.Applet">
			</visualElement>
   </extension>
   <extension
         point="org.eclipse.ve.java.core.choosebean">
      <contributor container="org.eclipse.jdt.launching.JRE_CONTAINER"
            class="org.eclipse.ve.internal.jfc.codegen.SwingChooseBeanContributor">
      </contributor>
      <contributor container="org.eclipse.jdt.launching.JRE_CONTAINER"
            class="org.eclipse.ve.internal.jfc.codegen.AWTChooseBeanContributor">
      </contributor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%JFC.preferencename Swing"
            category="org.eclipse.ve.internal.java.vce.VCEPreferencePage"
            class="org.eclipse.ve.internal.jfc.core.JFCPreferencePage"
            id="org.eclipse.ve.internal.jfc.PreferencePage">
      </page>
   </extension>     
   <extension point="org.eclipse.core.runtime.preferences">
     <initializer class="org.eclipse.ve.internal.jfc.core.JFCPreferenceInitializer"/>
   </extension>   
</plugin>
