#URL to eclipse download page for build to use
eclipseFolder=I20060216-2000
eclipseBuildID=eclipse-SDK-I20060216-2000

eclipseDirectURL=http://download.eclipse.org/downloads/drops/
eclipseMirrorURL=http://www.eclipse.org/downloads/download.php?file=/eclipse/downloads/drops/
#Complete URL to download actual zip directly, and not use mirror.
eclipseLinuxGTKZipURL=${eclipseFolder}/${eclipseBuildID}-linux-gtk.tar.gz
eclipseWin32ZipURL=${eclipseFolder}/${eclipseBuildID}-win32.zip

#URL to GEF download page for build to use
gefBuildID=I20060216
gefFolder=I-I20060216-200602161311

gefDirectURL=http://download.eclipse.org/tools/gef/downloads/drops/
gefMirrorURL=http://www.eclipse.org/downloads/download.php?file=/tools/gef/downloads/drops/

#Complete URL to download actual zip.
gefZipURL=${gefFolder}/GEF-runtime-${gefBuildID}.zip

#URL to EMF download page
emfBuildID=I200602160000
emfFolder=2.2.0/I200602160000
emfDirectURL=http://download.eclipse.org/tools/emf/downloads/drops/
emfMirrorURL=http://www.eclipse.org/downloads/download.php?file=/tools/emf/downloads/drops/

#Complete URL to download actual zip.
emfZipURL=${emfFolder}/emf-sdo-runtime-${emfBuildID}.zip
